<template>
  <section class="container">
    <div>
      <logo/>
      <h1 class="title">
        loginnuxt
      </h1>
      <h2 class="subtitle">
        Home Page
      </h2>
      <div class="links">
        <nuxt-link
          to="/secret"
          class="button--green">Secret Page</nuxt-link>
        <div
          v-if="!isLogin">
          <nuxt-link
            to="/login"
            class="button--grey">Login</nuxt-link>
        </div>
        <div v-else>
          <a
            href="javascript:void(1);"
            class="button--grey "
            @click="logout">Logout</a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  computed: {
    isLogin() {
      return this.$store.getters.getLogin
    }
  },
  methods: {
    logout() {
      this.$axios.post('http://localhost:3000/logout')
        .then((res) => {
          window.location.reload(true)
        })
        .catch(function (e) {
          alert('maaf terjadi kesalaahan')
        })
    }
  }
}
</script>

<style>

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
