<template>
  <section class="container">
    {{ info }}
    <form
      method="POST"
      action="/login">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          id="exampleInputEmail1"
          name="email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password">
      </div>
      <div class="form-check">
        <button
          type="submit"
          class="btn btn-primary">Submit</button>
      </div>

    </form>
  </section>
</template>

<script>
  export default {
    middleware: "unauth",
    watchQuery: ['info'],
    asyncData({query}) {
      return {
        info: query.info
      }
    }
  }
</script>
