<template>
  <section class="container">
    <h1 class="title">
      Halaman rahasia, hanya yang sudah login bisa akses halaman ini.
    </h1>
  </section>
</template>

<script>
  export default {
    middleware: "auth"
  }
</script>
